<!DOCTYPE html>
<html>
  <head>
    <title>Force-Directed Layout</title>
    <script src="//d3js.org/d3.v4.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../force/force.css"/>
  </head>
  <body>
    <div id="chart"></div>

    <div class = "container">

      <form action="/test" method="post">
        <input type="submit" text= "Test Refresh Graph" onclick="generateGraph()" />
      </form>

      <h1> Pass Variables to Python </h1>
      <h3> Pub date within the last years: <h3>
        <form action="/success" method="post">
          <input title="The start pubyear", placeholder="Enter the start pubyear ", type="number", min="1500", max = "3000", name = "years_old_min"> <br>
          <input title="The end pubyear", placeholder="Enter the end pubyear ", type="number", min="1500", max = "3000", name = "years_old_max"> <br>
          <button type="submit"> Refresh Graph </button>
        </form>

        <p>JSON from Server: <input type = "text" id = "results_json" name = "results_json" style='width: 100%;' value='{{results}}'/></p>
    </div>


    <script type="text/javascript" src="../force/force.js"></script>
  </body>
</html>
