<!DOCTYPE html>
<html>
  <head>
    <title>Force-Directed Layout</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//d3js.org/d3.v4.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../force/force.css"/>
  </head>
  <body>
    <div id="chart"></div>

    <div class = "container">
      <h1> References Visualization </h1>

      <div class = "graph" id = "graph">
        <!-- GRAPH will go here  -->
      </div>

      <h3> Pub date within the last years: <h3>
        <form action="/success" method="post">
          <input title="The start pubyear", placeholder="Min pubyear", type="number", min="1800", max = "3000", name = "years_old_min"> <br>
          <input title="The end pubyear", placeholder="Max pubyear", type="number", min="1800", max = "3000", name = "years_old_max"> <br>
          <button type="submit"> Refresh Graph </button>
        </form>

        <p>JSON from Server: <input type = "text" id = "results_json" name = "results_json" style='width: 100%;' value='{{results}}'/></p>
    </div>


    <script type="text/javascript" src="../force/force.js"></script>
  </body>
</html>
